* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(42, 44, 47, 0.3);
}

.currentTime {
  z-index: 1;
  color: white;
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 50px;
  font-weight: 400;
}

.todo {
  height: 700px;
  width: 600px;
  position: absolute;
  top: 185px;
  overflow-y: auto;
}

.todo__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.todo__input {
  width: 80%;
  height: 35px;
  font-size: 25px;
}

.todo__button {
  width: 100px;
  height: 35px;
  align-self: flex-start;
  font-size: 15px;
  cursor: pointer;
}

.todo__list {
  list-style-type: none;
  color: white;
  display: flex;
  flex-direction: column;
}

.todo__li {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  font-size: 30px;
  align-items: center;
  word-break: break-all;
}

.todo__deleteAllButton {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 21px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}

.todo__deleteAllButton_open {
  opacity: 1;
  visibility: visible;
}

.todo__deleteAll {
  display: flex;
  justify-content: center;
  width: 480px;
  margin-top: 15px;
}

.geo {
  position: absolute;
  top: 20px;
  cursor: pointer;
  color: white;
  font-size: 50px;
  left: 40px;
  font-weight: 400;
}

.weather {
  position: absolute;
  top: 120px;
  color: white;
  font-size: 35px;
  left: 40px;
  font-weight: 400;
}

.input[type="checkbox"] {
  width: 25px;
  height: 25px;
}
